html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
main {
  text-align: center;
}

h1 {
  margin-top: 15px;
  color: #0054ab;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
}

#tribute-info {
  width: 95%;
  margin: 18px auto;
  color: #c88e7f;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

#img-div {
  background-color: #f6f6f8;
  width: 95%;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
}
#img-caption {
  color: #94957f;
  font-style: italic;
}

section {
  max-width: 750px;
  margin: 40px auto;
}

h2 {
  text-align: left;
  color: #ca8153;
}
section p {
  text-align: left;
  text-indent: 34px;
  color: #4e251a;
}

a:visited {
  color: rgb(210, 128, 13);
}

.extra {
  font-size: 20px;
  font-weight: bold;
}